# auth-db
AUTH_NAME=auth-db
AUTH_USER=your_user
AUTH_PASSWORD=your_password

# user-db
USER_NAME=user-db
USER_USER=your_user
USER_PASSWORD=your_password

# task-db
TASK_NAME=task-db
TASK_USER=your_user
TASK_PASSWORD=your_password